html {
	font-size: 16px;
	font-family: Arial, sans-serif;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
	background: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee),
		color-stop(100%, #cccccc));
	background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(             startColorstr='#eeeeee',
		endColorstr='#cccccc', GradientType=0);
	height: 100%;
}

ul {
	display: block;
	display: block;
	margin: 0;
	-webkit-padding-start: 0;
}

li {
	padding: 4%;
	text-align: center;
	margin-top: 2%;
	display: block;
	background: whitesmoke;
}

a {
	color: #F57C2B;
	font-weight: bold;
	text-decoration: initial;
	font-size: 1.2em;
}

li:hover {
	background: #A3A3A3;
}

li:hover a {
	color: #FFCD8E;
}

label {
	font-family: Arial, sans-serif;
}

div.form li {
	padding: 4%;
	text-align: left;
	display: block;
	background: whitesmoke;
}

dd,dt {
	display: inline-block;
}

dt {
	min-width: 20%;
}

.centered {
	margin: auto;
	padding-top: 6%;
	height: 90%;
	width: 70%;
}

.info {
	font-size: 0.8em;
	color: #BE0000;
	font-style: italic;
}

input[type="submit"] {
	width: 100%;
	height: 10%;
	margin-top: 4%;
	font-size: 1.6em;
	font-weight: bold;
}

.granpa_table_wrapper {
	margin-top: 4%;
}